.button {
    -fx-background-color: #000000;
    -fx-background-radius: 0px;
}

.button:focused {
    -fx-background-color: #262626;
}

.button-burger {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px;
}
