.button {
    -fx-background-color: #000000;
    -fx-background-radius: 3;
    -fx-text-fill: white;
}

.button:focused {
    -fx-background-color: #262626;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}

.sign-up-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.sign-up-button:hover {
    -fx-text-fill: black;
}

.button-burger {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: black;
    -fx-font-size: 10;
}

.categories-button {
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: black;
}

.toggle-button{
     -fx-background-radius: 3px;
}

.categories-button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: black;
}

.categories-button :focused {
    -fx-border-color: transparent;
    -fx-background-color: #000000;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #fefefe;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}

.menu-tgl-btn {
     -fx-background-radius: 3px;
     -fx-background-color: #000000;
}

.menu-tgl-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}

.logout-button:hover, .exit-button:hover {
    -fx-text-fill: #dd6a67;
}

.logout-button {
    -fx-background-radius: 0px;
}

.combo-box:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}

