.card {
    -fx-background-radius: 8px;
    -fx-padding: 10px;
    -fx-margin-block-end: 2px;
    -fx-margin: 8px;
    -fx-border-color: rgba(70, 66, 66, 0.161);
    -fx-border-width: 0 0 1px 0;
    -fx-min-width: 100%;
    -fx-min-height: 100%;
}

.imageView {
    -fx-border-color: rgba(128, 128, 128, 0.33);
    -fx-border-width: 1px;
    -fx-border-insets: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-padding: 0.25em 0.083333em 0.25em 0.083333em;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #beb7a4;
    -fx-background-radius: 0px;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}

.scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.120), 8, 0, 0, 5);
}