@font-face {
    src: url(fonts/Lexend-Regular.ttf);
    src: url(fonts/Chomsky-8Moa2.otf);
}

.label, .button, .hyperlink, .toggle-button {
    -fx-font-family: 'Lexend';
    -fx-font-weight: 100;
}

.label, .hyperlink {
    -fx-font-size: 12px;
}

.button, .toggle-button{
    -fx-font-size: 15px;
    -fx-font-color: white;
}

.label-main-logo {
    -fx-font-family: 'Chomsky';
    -fx-font-weight: 700;
}