@font-face {
    -fx-font-family: 'Chomsky';
    src: url(fonts/Chomsky-8MOa2.otf);
}

@font-face {
    -fx-font-family: 'Lexend';
    src: url(fonts/Lexend-Regular.ttf);
}

@font-face {
    -fx-font-family: 'Fraunces Medium';
    src: url(fonts/Fraunces-Medium.ttf);
}

.label, .button, .hyperlink, .toggle-button {
    -fx-font-family: 'Lexend';
    -fx-font-weight: 100;
}

.label, .hyperlink {
    -fx-font-size: 12px;
}

.button, .toggle-button{
    -fx-font-size: 15px;
    -fx-font-color: white;
}

.label-main-logo {
    -fx-font-family: 'Chomsky';
    -fx-font-weight: 700;
    -fx-text: "The Street Journal";
}

.headlineLabel {
    -fx-font-family: 'Fraunces Medium';
    -fx-font-size: 33px;
    -fx-font-weight: 700;
}

.pageLabel {
    -fx-font-family: 'Fraunces Medium';
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.article-texts {
    -fx-font-size: 12;
}